table.addtable
{

 vertical-align: left;
background-color: rgb(160, 163, 162);
text-align: left;   
width: 80%;
height:150;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
table.addtable td
{
    text-align: left;
color: black;

width: 35%;
     
}
table.addtable tr
{
    height: 30px;
     
}

table.addtable input {
   
    
    
}
parent-task{
    /* width: 50px !important; */
    vertical-align: left !important;
width: 30% !important;
text-align: left !important;  

} 
table.addtable button {
    
    vertical-align: center;
    background-color: rgb(160, 163, 162);
    color: blue;
}


