table.addtable
{

 vertical-align: left;
background-color: rgb(160, 163, 162);
text-align: left;   
width: 80%;
}


table.addtable td
{
    text-align: left;
color: black;
width: 35%;  
}
table.addtable tr
{
    height: 30px;
     
}

table.addtable input {
     width: 45%;  
}
table.addtable button {
    
    vertical-align: center;
    background-color: rgb(160, 163, 162);
    color: blue;
}

table.searchtable
{

 vertical-align: left;
background-color: rgb(160, 163, 162);
text-align: left;   
width: 80%;
}
table.searchtable td
{
    text-align: left;
color: black;  
 
}
table.searchtable button {
    
    vertical-align: center;
    background-color: rgb(160, 163, 162);
    color: blue;
}
.parent-task{
    width: 13px !important;
}
table.viewtable
{

 vertical-align: center;
background-color:  rgb(160, 163, 162);
text-align: center;   
width: 80%;
}


table.viewtable td
{
    text-align: center;
color: black;
     
}
table.viewtable tr
{
    height: 30px;
     
}

table.viewtable input {
    width: 65%;
}
table.viewtable select {
    width: 65%;
}
table.viewtable button {
    
    vertical-align: center;
    background-color:rgb(160, 163, 162);
    color:blue;
}
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}


